<footer class="footer">
  <div class="footer__container container">
    <div class="footer__inner">
      <div class="footer__top">
        <h2>Let’s Connect</h2>
        <a href="#" class="button button_green">Contact Us</a>
      </div>
      <div class="footer__body">
        <div class="footer__column">
          <a href="/" class="footer__logo-link">
            <img
              src="/public/images/logo.svg"
              alt=""
              class="footer__logo logo"
              loading="lazy"
              width="257"
              height="90"
            />
          </a>
        </div>
        <div class="footer__column">
          <h3>Quick Links</h3>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Request Support</a></li>
              <li><a href="#">Get Involved</a></li>
              <li><a href="#">Donate</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer__column">
          <h3>Contact</h3>
          <a href="#">(267) 225-1015</a>
          <a href="#">info@allforcommunity.org</a>
          <address>000 Street, State, ZIP</address>
          <ul class="footer__socials socials">
            <li class="socials__item">
              <a href="#" class="socials__link">
                <img src="/public/images/facebook.svg" alt="facebook" class="socials__icon" />
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link">
                <img src="/public/images/facebook.svg" alt="facebook" class="socials__icon" />
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link">
                <img src="/public/images/facebook.svg" alt="facebook" class="socials__icon" />
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link">
                <img src="/public/images/facebook.svg" alt="facebook" class="socials__icon" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__copyright">
        <p>© 2025. All Rights Reserved. Website by <a href="#" target="_blank">Curis Digital</a>.</p>
      </div>
    </div>
  </div>
</footer>
