<section class="qr">
  <div class="qr__container container">
    <h2 class="sr-only">Join Us</h2>
    <div class="qr__body" style="background-image: url(&quot;/public/images/qr-bg.webp&quot;)">
      <div class="qr__code adaptive-image">
        <img src="/public/images/qr.svg" alt="" loading="lazy" />
      </div>
      <div class="qr__content">
        <div class="qr__words">
          Together, we <br />
          transform lives.
        </div>
        <div class="qr__form">FORM HERE</div>
      </div>
    </div>
  </div>
</section>