<section class="testimonials">
  <div class="testimonials__container container">
    <h2>Stories From Our Community</h2>
    <div class="testimonials__slider swiper">
      <div class="testimonials__wrapper swiper-wrapper">
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__slide-image adaptive-image">
            <img src="/public/images/slider.webp" alt="" loading="lazy" />
          </div>
          <div class="testimonials__slide-content">
            <p>
              ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
              himenaeos.
            </p>
            <p>
              Porem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
              aliquet odio mattis. inceptos himenaeos. inceptos himenaeos.
            </p>
            <p><strong>Jessica Johnson</strong></p>
          </div>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__slide-image adaptive-image">
            <img src="/public/images/slider.webp" alt="" loading="lazy" />
          </div>
          <div class="testimonials__slide-content">
            <p>ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per ac</p>
            <p>
              Porem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
              aliquet odio mattis. inceptos himenaeos. inceptos himenaeos.
            </p>
            <p><strong>Jessica Johnson</strong></p>
          </div>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__slide-image adaptive-image">
            <img src="/public/images/slider.webp" alt="" loading="lazy" />
          </div>
          <div class="testimonials__slide-content">
            <p>
              ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
              himenaeos.
            </p>
            <p>
              Porem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
              aliquet odio mattis. inceptos himenaeos. inceptos himenaeos.
            </p>
            <p><strong>Jessica Johnson</strong></p>
          </div>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__slide-image adaptive-image">
            <img src="/public/images/slider.webp" alt="" loading="lazy" />
          </div>
          <div class="testimonials__slide-content">
            <p>
              ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per ac aliquet
              odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            </p>
            <p>ac aliquet odio mattis. inceptos himenaeos. inceptos himenaeos.</p>
            <p><strong>Jessica Johnson</strong></p>
          </div>
        </div>
      </div>
      <div class="testimonials__slider-navigation testimonials-nav">
        <button type="button" class="testimonials-nav__button testimonials-nav__button_prev">
          <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M41.4304 31.1691L33.027 22.7657C32.8692 22.6079 32.6552 22.5193 32.432 22.5193C32.2089 22.5193 31.9949 22.6079 31.8371 22.7657C31.6793 22.9235 31.5907 23.1375 31.5907 23.3607C31.5907 23.5838 31.6793 23.7978 31.8371 23.9556L38.8068 30.9237H20.6673C20.4445 30.9237 20.2307 31.0122 20.0731 31.1698C19.9155 31.3274 19.827 31.5412 19.827 31.764C19.827 31.9869 19.9155 32.2006 20.0731 32.3582C20.2307 32.5158 20.4445 32.6044 20.6673 32.6044H38.8068L31.8371 39.5724C31.6793 39.7302 31.5907 39.9442 31.5907 40.1674C31.5907 40.3905 31.6793 40.6046 31.8371 40.7623C31.9949 40.9201 32.2089 41.0088 32.432 41.0088C32.6552 41.0088 32.8692 40.9201 33.027 40.7623L41.4304 32.359C41.5086 32.2809 41.5707 32.1882 41.6131 32.0861C41.6554 31.984 41.6772 31.8746 41.6772 31.764C41.6772 31.6535 41.6554 31.544 41.6131 31.442C41.5707 31.3399 41.5086 31.2471 41.4304 31.1691Z"
              fill="currentColor"
            />
            <circle cx="30.5" cy="30" r="29.5" stroke="currentColor" />
          </svg>
        </button>
        <div class="testimonials-nav__pagination swiper-pagination"></div>
        <button type="button" class="testimonials-nav__button testimonials-nav__button_next">
          <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M41.4304 31.1691L33.027 22.7657C32.8692 22.6079 32.6552 22.5193 32.432 22.5193C32.2089 22.5193 31.9949 22.6079 31.8371 22.7657C31.6793 22.9235 31.5907 23.1375 31.5907 23.3607C31.5907 23.5838 31.6793 23.7978 31.8371 23.9556L38.8068 30.9237H20.6673C20.4445 30.9237 20.2307 31.0122 20.0731 31.1698C19.9155 31.3274 19.827 31.5412 19.827 31.764C19.827 31.9869 19.9155 32.2006 20.0731 32.3582C20.2307 32.5158 20.4445 32.6044 20.6673 32.6044H38.8068L31.8371 39.5724C31.6793 39.7302 31.5907 39.9442 31.5907 40.1674C31.5907 40.3905 31.6793 40.6046 31.8371 40.7623C31.9949 40.9201 32.2089 41.0088 32.432 41.0088C32.6552 41.0088 32.8692 40.9201 33.027 40.7623L41.4304 32.359C41.5086 32.2809 41.5707 32.1882 41.6131 32.0861C41.6554 31.984 41.6772 31.8746 41.6772 31.764C41.6772 31.6535 41.6554 31.544 41.6131 31.442C41.5707 31.3399 41.5086 31.2471 41.4304 31.1691Z"
              fill="currentColor"
            />
            <circle cx="30.5" cy="30" r="29.5" stroke="currentColor" />
          </svg>
        </button>
      </div>
    </div>
    <div class="testimonials__links">
      <a href="" class="button button_green">Request Support</a>
      <a href="" class="button button_blue">Partner With Us</a>
      <a href="" class="button button_orange">Donate Now</a>
    </div>
  </div>
</section>
