@use "../helpers/" as *;

.button {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr rem(48);
  column-gap: rem(20);
  padding: rem(4) rem(4) rem(4) rem(24);
  border-radius: rem(100);
  font-weight: 700;
  font-size: rem(20);
  color: var(--color-white);
  line-height: 1;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  text-align: center;
  min-width: rem(165);
  @include hover {
    opacity: 0.8;
  }
  @include x-small {
    width: 100%;
  }
  &::after {
    content: "";
    flex-shrink: 0;
    width: rem(48);
    height: rem(48);
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2224%22%20cy%3D%2224%22%20r%3D%2224%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M31.5428%2015.4583C31.8078%2015.4584%2032.0619%2015.5638%2032.2493%2015.7512C32.4367%2015.9386%2032.542%2016.1927%2032.5422%2016.4577L32.5422%2027.7714C32.5469%2027.9056%2032.5246%2028.0394%2032.4765%2028.1647C32.4284%2028.2901%2032.3555%2028.4045%2032.2623%2028.5012C32.169%2028.5978%2032.0572%2028.6746%2031.9336%2028.7271C31.81%2028.7796%2031.6771%2028.8066%2031.5428%2028.8066C31.4085%2028.8066%2031.2756%2028.7796%2031.152%2028.7271C31.0284%2028.6746%2030.9166%2028.5978%2030.8233%2028.5012C30.7301%2028.4045%2030.6572%2028.2901%2030.6091%2028.1647C30.561%2028.0394%2030.5387%2027.9056%2030.5434%2027.7714L30.5434%2018.8712L17.165%2032.2497C16.9774%2032.4372%2016.7231%2032.5426%2016.4578%2032.5426C16.1926%2032.5426%2015.9383%2032.4372%2015.7507%2032.2497C15.5632%2032.0622%2015.4578%2031.8078%2015.4578%2031.5426C15.4578%2031.2774%2015.5632%2031.023%2015.7507%2030.8355L29.1292%2017.457L20.2291%2017.457C20.0949%2017.4618%2019.9611%2017.4394%2019.8357%2017.3913C19.7103%2017.3432%2019.5959%2017.2704%2019.4993%2017.1771C19.4027%2017.0839%2019.3258%2016.9721%2019.2733%2016.8485C19.2209%2016.7249%2019.1938%2016.5919%2019.1938%2016.4577C19.1938%2016.3234%2019.2209%2016.1904%2019.2733%2016.0668C19.3258%2015.9432%2019.4027%2015.8314%2019.4993%2015.7382C19.5959%2015.6449%2019.7103%2015.5721%2019.8357%2015.524C19.9611%2015.4759%2020.0949%2015.4535%2020.2291%2015.4583L31.5428%2015.4583Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &_green {
    background-color: var(--color-green);
  }
  &_blue {
    background-color: var(--color-blue);
  }
  &_orange {
    background-color: var(--color-orange);
  }
  &_black {
    background-color: var(--color-black);
  }
}
