@use "../helpers/" as *;

.contact {
  padding: var(--section-padding) 0;
  h2 {
    text-align: center;
  }
  &__container {
  }
  &__column {
    border-radius: rem(16);
    padding: fluid(16, 32);
  }
  &__body {
    display: flex;
    gap: rem(24) rem(32);
    display: flex;
    @include medium {
      flex-direction: column;
    }
    a {
      color: var(--color-green);
      font-weight: 700;
    }
    h3 {
      font-weight: 600;
    }
  }
  &__content {
    background-color: var(--color-light-blue);
    flex: 0 1 rem(1037);
    @include medium {
      flex: 0 1 auto;
    }
  }
  &__form {
    background-color: var(--color-light-green);
    flex: 0 1 rem(731);
    @include medium {
      flex: 0 1 auto;
    }
  }
}
