@use "../helpers/" as *;

.header {
  z-index: 200;
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: fluid(39, 89);
  &_home {
    .header__logo-link,
    .header__socials {
      display: none;
    }
    .header__button-wrapper {
      margin-left: auto;
      @include large {
        margin-right: 32px;
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(40);
  }

  &__logo {
  }
  &__socials {
  }
  &__button-wrapper {
    display: flex;
    align-items: center;
    column-gap: rem(8);
  }
  &__button-label {
    font-weight: 700;
    text-transform: uppercase;
    @include large {
      display: none;
    }
  }
  &__button {
    background-color: var(--color-white);
    width: rem(92);
    height: rem(92);
    border-radius: 50%;
    border: 1px solid var(--color-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: rem(8);
    transition: all 0.3s ease;
    @include medium {
      width: rem(69);
      height: rem(69);
    }
    span {
      transition: all 0.3s ease;
      border-radius: 100px;
      height: rem(3);
      &:nth-child(1) {
        background-color: var(--color-green);
        width: rem(34);
      }
      &:nth-child(2) {
        background-color: var(--color-blue);
        width: rem(40);
      }
      &:nth-child(3) {
        background-color: var(--color-orange);
        width: rem(34);
      }
    }
    @include hover {
      opacity: 0.7;
    }
    &_close {
      border: 1px solid var(--color-white);
      background-color: transparent;
      position: absolute;
      right: rem(52);
      top: rem(32);
      span {
        background-color: var(--color-white);
        &:nth-child(1) {
          transform: rotate(45deg) translate(8px, 7px);
          background-color: var(--color-white);
        }
        &:nth-child(2) {
          opacity: 0;
          background-color: var(--color-white);
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(8px, -7px);
          background-color: var(--color-white);
        }
      }
    }
  }

  &__overlay {
    padding: fluid(150, 170) rem(52) rem(32);
    background-color: var(--color-blue-overlay);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    max-width: rem(430);
    overflow: auto;
    transition: all 0.4s ease;
    &:not(.is-active) {
      transform: translateX(100%);
    }
  }
  &__overlay-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__menu {
    color: var(--color-white);
  }
  &__menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: rem(16);
  }
  &__menu-item {
    &.menu-item-has-children > .header__menu-link {
      &::before {
        content: "";
        flex-shrink: 0;
        width: rem(20);
        height: rem(8);
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2012%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.9981%200.32603L6.00008%205.19803L1.00208%200.32603C0.912782%200.2388%200.792906%200.189965%200.668076%200.189965C0.543246%200.189965%200.42337%200.2388%200.334076%200.32603C0.290838%200.368394%200.256488%200.41896%200.233038%200.474766C0.209588%200.530572%200.19751%200.590497%200.19751%200.65103C0.19751%200.711563%200.209588%200.771487%200.233038%200.827293C0.256488%200.8831%200.290838%200.933666%200.334076%200.97603L5.65108%206.16003C5.74445%206.25104%205.86968%206.30198%206.00008%206.30198C6.13047%206.30198%206.2557%206.25104%206.34908%206.16003L11.6661%200.97703C11.7096%200.934634%2011.7442%200.883944%2011.7679%200.827953C11.7915%200.771962%2011.8037%200.711804%2011.8037%200.65103C11.8037%200.590256%2011.7915%200.530098%2011.7679%200.474107C11.7442%200.418116%2011.7096%200.367426%2011.6661%200.32503C11.5768%200.2378%2011.4569%200.188965%2011.3321%200.188965C11.2072%200.188965%2011.0874%200.2378%2010.9981%200.32503V0.32603Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  &__menu-link {
    font-size: rem(36);
    font-weight: 700;
    text-align: right;
    line-height: 1.5;
    display: flex;
    align-items: center;
    column-gap: rem(18);
    transition: all 0.3s ease;
    @include hover {
      color: var(--color-orange);
    }
  }
  &__menu-sublist {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: rem(4);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  &__menu-subitem {
  }
  &__menu-sublink {
    font-weight: 400;
    font-size: rem(28);
    text-align: right;
    line-height: 1.5;
    transition: all 0.3s ease;
    @include hover {
      color: var(--color-orange);
    }
  }
  &__contacts {
    margin-top: auto;
    margin-bottom: rem(40);
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
    line-height: 1.2;
    color: var(--color-white);
    font-size: rem(20);
    text-align: right;
    align-items: flex-end;
  }
  &__overlay-socials {
    justify-content: space-between;
  }
}

.sub-menu {
}
