@use "../helpers/" as *;

.hero {
  &__container {
    padding-bottom: rem(32);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(1200);
    margin: 0 auto;
    text-align: center;
  }
  &__title {
  }
  &__text {
    font-size: fluid(24, 32);
    margin-bottom: rem(60);
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(24) rem(40);
  }
}
