@use "../helpers/" as *;

.main-hero {
  padding: fluid(16, 30) 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  &__content {
    border-radius: rem(40);
    max-width: rem(884);
    position: relative;
    padding: fluid(16, 55);
    overflow: hidden;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: var(--color-white-opacity);
   
    &-inner {
      z-index: 2;
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: fluid(30, 206);
    }
    &-body {
      font-size: fluid(24, 32);
      p:not(:last-child) {
        margin-bottom: fluid(8, 16);
      }
      h1 {
        @include x-small {
          text-align: center;
        }
      }
    }
    &-links {
      display: flex;
      flex-wrap: wrap;
      gap: rem(20);
      @include x-small {
        flex-direction: column;
      }
    }
  }
}

.hero-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: rem(30);
  &__logo {
    max-width: fluid(210, 257);
  }
  &__socials {
    @include large {
      display: none;
    }
  }
}
