@use "helpers" as *;

html.is-lock {
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-dark);
  font-size: var(--text-middle);
  line-height: 1.5;
  background-color: var(--color-light);
}

.wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex-grow: 1;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    &:not(.main-home) {
      padding-top: fluid(190, 206);
    }
  }
}

h1, .h1, //
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: fluid(16, 24);
  font-family: var(--font-family-accent);
}

h1,
.h1 {
  font-size: fluid(48, 80);
  margin-bottom: fluid(24, 32);
  line-height: 1;
}

h2,
.h2 {
  font-size: fluid(40, 68);
}

h3,
.h3 {
  font-size: fluid(36, 56);
}

h4,
.h4 {
  font-size: rem(36);
}

h5,
.h5 {
  font-size: fluid(32, 36);
}

a:not([class]) {
  transition: color 0.3s ease;
  @include hover {
    color: var(--color-orange);
  }
}

p:not([class]):not(:last-of-type) {
  margin-bottom: rem(16);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding-x);
}
